
/* denifição das fontes */
@font-face {
    font-family: 'unbounded';
    src: url(../fonts/Unbounded-VariableFont_wght.ttf) 
    format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf) 
    format('truetype');
    font-weight: 400;
    font-style: normal; 
    font-display: swap;
}
/* RESET CSS BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* estilo desktop */
body{
    background-color: #0E1014;
    color: #ffffff;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

h1{
    font-size: 80px;
    font-family: 'Unbounded',sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 span{
    color: #9747ff;
}

p{
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin-top: 24px;
    width: 792px;
    margin: 24px auto 0;
}



a{
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747ff;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;

}

a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 40px auto;
}

@media (max-width: 768px) {
    /* estilo mobile */
    header img{
        margin: 65px 0 0 60px;
    }

    p{
     width: 648px;
    }
}

@media (max-width: 375px) {
    /* estilo mobile pequeno */
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px
    }

    p{
     width: 340px;
     font-size: 20px;
    }

    a{
        width: 251px;
        height: 56px;
        line-height: 56px;
        font-size: 20px;
    }

    section img{
        width: 340px;
        height: 230px;
        margin: 24px auto;
    }
}